<footer>
    <div class="info_title footer-title">
        <h2>Контакты</h2>
    </div>
    <div class="footer-inner">
        <div class="footer-inner_links">
            <a href="https://www.instagram.com/decode.kz/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>@decode.kz</a>
            <a href="https://decode.kz/" target="_blank"><i class="fas fa-globe"></i>www.decode.kz</a>
            <a href="https://www.youtube.com/channel/UCNJ1Yvv3Bb12rMeXuCX_mSg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i>Decode School</a>
        </div>
        <div class="footer-inner_links">
            <a><i class="fa fa-envelope-o" aria-hidden="true"></i>decode.school@gmail.com</a>
            <a href="https://api.whatsapp.com/send/?phone=77476257175&text&app_absent=0" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>+7 747 625 7175</a>
            <a href="https://www.tiktok.com/@decode.school?_d=secCgYIASAHKAESMgowkEYpS%2Fk1xizY2w6O1c8BtNnlH2Dq4km4z6CxGL9yPqXJsGhzdavJ9oLgowu4oYOdGgA%3D&language=ru&sec_uid=MS4wLjABAAAAp4O9rIRVGfSfxjOmPz7NuH7JLiMSwJctKrGbhVuC2uaS9d6w4VcTdz13_zteiSWj&sec_user_id=MS4wLjABAAAAXwrh3tW5mLDee6DmniZt1NTLND3qQamvEiWOv4RLglyeDzKumzjTzTrgJ9s-UAsD&share_app_name=musically&share_author_id=6797294352656122885&share_link_id=748f7246-d44d-4ebb-a0b8-8d469c3a98db&timestamp=1615287948&u_code=d7ah18agg4h2a4&user_id=6716109888629670917&utm_campaign=client_share&utm_medium=android&utm_source=copy&source=h5_m" target="_blank"><i class="fab fa-tiktok"></i>@decode.school</a>
        </div>    
        <a href="https://2gis.kz/almaty/firm/9429940000785873" target="_blank"><i class="fas fa-map-marked-alt"></i>г. Алматы, проспект Абая, 52в, 512 офис</a>
    </div>
    <div>
        <img class="logo" src="./images/logo.svg">
    </div>
</footer>