<section class="for-whom">
    <div class="info_title">
        <h2 class="orange-white">
            Кому пригодится
        </h2>
        <h2>
            этот вебинар:
        </h2>
    </div>
    <div class="for-whom_inner">
        <div>
            <img src="./images/for-whom/statistic.svg">
            <p>
                Для тех, кто хочет 
                работать в IT сфере
            </p>
        </div>
        <img src="./images/for-whom/x-mark.svg">
        <div>
            <img src="./images/for-whom/head.svg">
            <p>
                Для начинающих
                программирование
            </p>
        </div>

        <div>
            <img src="./images/for-whom/display.svg">
            <p>
                Для тех, кто хочет 
                улучшить свои навыки
            </p>
        </div>
        <img src="./images/for-whom/x-mark.svg">
        <div>
            <img src="./images/for-whom/graduate.svg">
            <p>
                Для детей, 
                интересующихся 
                программированием
            </p>
        </div>

        <div>
            <img src="./images/for-whom/case.svg">
            <p>
                Для тех, кто хочет 
                сменить профессию 
                на IT сферу
            </p>
        </div>
        <img src="./images/for-whom/x-mark.svg">
        <div>
            <img src="./images/for-whom//bitkoin.svg">
            <p>
                Для предпринимателей, 
                которые хотят понять 
                как строятся IT проекты
            </p>
        </div>

    </div>
</section>
