<section class="info">
    <div class="info_title">
        <h2>
            С помощью вебинара
        </h2>
        <h2 class="orange-white">
            вы узнаете:
        </h2>
    </div>

    <div class="info_blocks">
            <div>
                <h4>
                    Актуальные языки
                    программирования 
                    2021
                </h4>
                <span class="orange-circle">1</span>
            </div>

            <div>
                <h4>
                    Какие языки где 
                    используются
                </h4>
                <span class="orange-circle">2</span>
            </div>
            
            <div>
                <h4>
                    Как верно начать 
                    обучение в програм-
                    мировании
                </h4>
                <span class="orange-circle">3</span>
            </div>

            <div>
                <h4>
                    Как правильно 
                    выбрать наставника
                </h4>
                <span class="orange-circle">4</span>
            </div>

            <div>
                <h4>
                    Какие направления 
                    есть в сфере IT
                </h4>
                <span class="orange-circle">5</span>
            </div>

            <div>
                <h4>
                    Какие профессии вос-
                    требованы в сфере  IT 
                    на рынке СНГ
                </h4>
                <span class="orange-circle">6</span>
            </div>

            <div>
                <h4>
                    Вебинар проводится при поддержке 
                    школы программирования Decode
                </h4>
                <p>
                    Разбор курсов школы программирования Decode
                </p>
                <span class="orange-circle">7</span>
            </div>

            <div>
                <img src="./images/gift-und-star.svg">
                <div>
                    <h3><span>БОНУС</span> участникам вебинара</h3>
                    <p>
                        Пошаговый “Чек-лист” в изучении 
                        выбранного направления
                    </p>
                </div>
            </div>
    </div>
</section>