<section class="main-section">
    <div>
        <header>
            <img class="logo" src="./images/logo.svg">
        </header>
        <div class="main-section_webinar">
            <h3>Бесплатный</h3>
            <h3>онлайн вебинар</h3>
        </div>
        <div class="main-section_question">
            <h1>
                С какого языка
                программирования
            </h1>
            <h1>начать путь в IT</h1>
        </div>
        <div>
            <img src="./images/Tech-icon.svg">
            <h3>
                Без технических навыков </br>
                с нуля для взрослых и детей
            </h3>
        </div>
    </div>
    <a href="https://t.me/alitadecodeaibot" class="join-button" target="_blank">
        ПРИНЯТЬ УЧАСТИЕ
    </a>
</section>