<section class="offer-icons">
    <div class="offer-icons_inner">
        <div>
            <img src="./images/icons/globe.svg">
            <h3>
                #Hello</br>
                world
            </h3>
            <h4>
                Из любой точки 
                мира
            </h4>
        </div>

        <div>
            <img src="./images/icons/tab.svg">
            <h3>
                &lt;/&gt;
            </h3>
            <h4>
                Без профессиональных
                навыков с нуля
            </h4>
        </div>

        <div>
            <img src="./images/icons/glass.svg">
            <h3>
                #полезно</br>
                для мозгов
            </h3>
            <h4>
                Информативно
                полно и понятно
            </h4>
        </div>

        <div>
            <img src="./images/icons/gift.svg">
            <h3>
                #подарочки
            </h3>
            <h4>
                Подарок от школы
                программирования
                “decode”
            </h4>
        </div>
    </div>
</section>