<section class="speaker">
    <div class="info_title">
        <h2 class="orange-white">
            Спикер вебинара
        </h2>
        <img src="./images/speaker.svg">
        <h2>
            Елнур Сеитжанов
        </h2>
    </div>
    <div class="speaker_content">
        <p>
            - Full-stack разработчик в Австралийской 
            компании Aspose </br>с заработком 
            1 000 000+ тг/мес.
        </p>
        <p>
            - Основатель и автор курсов школы
            программирования Decode
        </p>
        <p>
            - 8 лет практики в сфере программирования
        </p>
        <p>
            - 1-9 лет потратил на свое образование
        </p>
        <p>
            - 3000 учеников / студентов обучил
        </p>
        <p>
            - Ex-лектор МУИТ- 9 лет в нише
        </p>
    </div> 

</section>