<section class="tg-info">
    <div class="tg-info_pulse">
        <a href="https://t.me/alitadecodeaibot" target="_blank">
            <img src="./images/tg-logo.svg">
        </a>
        <div class="tg-info_text">
            <h3>
                Подробнее о вебинаре
            </h3>
            <p>
                вы узнаете в нашем 
            </p>
            <p>
                Telegram-боте
            </p>
        </div>  
    </div>    
</section>