<!DOCTYPE html>
<html>
<head>
<title>WEBINAR</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://kit.fontawesome.com/92a8dbea91.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/main-section.ejs') %>

    <%- include('./partials/offer-icons.ejs') %>

    <%- include('./partials/info.ejs') %>

    <%- include('./partials/tg-info.ejs') %>

    <%- include('./partials/for-whom.ejs') %>

    <%- include('./partials/speaker.ejs') %>

    <%- include('./partials/tg-info.ejs') %>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
