footer{
    background: #000;
    display: flex;
    flex-wrap: wrap;
}

.footer-inner{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.footer-title{
    color: #fff;
    width: 100%;
}

.footer-inner a{
    color: #fff;
    text-decoration: none;
    width: 70%;
    font-size: 25px;
    font-weight: 300;
    margin: 15px auto;
}
.footer-inner a > i{
    padding-right: 10px;
}

.footer-inner > a:last-child{
    width: 100%;
    text-align: center;
}

footer > div:last-child{
    width: 80%;
    text-align: center;
    margin: 30px auto 20px;
}

.footer-inner_links{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1300px){
    .footer-inner{
        width: 80%;
        justify-content: space-around;
    }
    .footer-inner a{
        font-size: 20px;
    }
    .footer-inner_links{
        width: 47%;
    }
}

@media (max-width: 1000px){
    .footer-inner a{
        font-size: 15px;
    }
}

@media (max-width: 800px){
    .footer-inner{
        width: 90%;
        justify-content: center;
    }
    .footer-title{
        margin: 100px 0 30px;
    }
    .footer-inner a{
        width: 100%;
    }

    .footer-inner_links{
        margin: 10px auto;
        width: 40%;
        text-align: center;
    }
    .footer-inner a > i{
        width: 100%;
        padding: 10px 0;
        font-size: 25px;
    }
}

@media (max-width: 500px){
    .footer-title{
        margin: 60px 0 20px;
    }
    .footer-inner{
        width: 95%;
    }
    .footer-inner_links{
        width: 48%;
        margin: 0 auto;
    }
    /* .footer-inner_links a{
        margin: 10px auto;
    } */
}

@media (max-width: 370px){
    .footer-title{
        margin: 60px 0 20px;
    }

    .footer-inner{
        display: inline;
    }

    .footer-inner a{
        margin: 0 auto;
    }
}