.for-whom{
    width: 80%;
    margin: 0 auto;
}

.for-whom_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

.for-whom_inner > img{
    width: 10%;
}

.for-whom_inner > div{
    width: 40%;
    margin: 25px auto;
    text-align: center;
}

.for-whom_inner > div > img{
    width: 40%;
}

.for-whom_inner > div > p{
    width: 70%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 25px;
}


@media(max-width: 1000px){
    .for-whom_inner > div > p{
        font-size: 15px;
    }
    .for-whom_inner > div > img{
        width: 50%;
    }
}

@media (max-width: 500px){
    .for-whom{
        width: 95%;
    }

    .for-whom_inner{
        margin-bottom: 65px;
    }

    .for-whom_inner > img{
        width: 7%;
    }

    .for-whom_inner > div > img{
        width: 60%;
    }
    .for-whom_inner > div > p{
        font-size: 10px;
        width: 100%;
    }
}