.info{
    position: relative;
}

.info_title{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.orange-white{
    color: #fff;
    background: #FF8A00;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
}

.info_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.info_blocks > div {
    width: 40%;
    height: 110px;
    background: #FDFDFD;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.info_blocks > div:nth-child(7){
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.info_blocks > div > h4{
    font-weight: 500;
    font-size: 25px;
    width: 95%;
    margin: 0 auto;
}
.info_blocks > div:nth-child(7) h4{
    padding-left: 0;
    width: 90%;
    margin: 0 auto -20px;
}
.info_blocks > div:nth-child(7) p{
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
}

.orange-circle{
    position: absolute;
    background: #FF8A00;
    border-radius: 50%;
    color: #fff;
    top: -25px;
    font-size: 30px;
    text-align: center;
    height: 35px;
    width: 35px;
}

.info_blocks > div:last-child{
    box-shadow: none;
    width: 80%;
    margin: 20px auto;
}
.info_blocks > div:last-child img{
    width: 20%;
}
.info_blocks > div:last-child h3{
    font-weight: 700;
    font-size: 30px;
}
.info_blocks > div:last-child span{
    color: #FF8A00;
}
.info_blocks > div:last-child p{
    font-weight: 300;
    font-size: 25px;
}

@media (max-width: 1000px){
    .info_title{
        font-size: 18px;
    }
    .info_blocks > div > h4{
        font-size: 18px;
    }
    .info_blocks > div:last-child h3{
        font-size: 20px;
    }
    .info_blocks > div:last-child p{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    .info_title{
        width: 100%;
        font-size: 15px;
    }

    .info_blocks{
        width: 95%;
    }

    .info_blocks > div{
        width: 38%;
        margin: 15px auto;
        height: 100px;
    }

    .info_blocks > div > h4{
        font-size: 14px;
    }
    .info_blocks > div:nth-child(7) p{
        font-size: 12px;
    }

    .orange-circle{
        font-size: 20px;
        height: 25px;
        width: 25px;
        top: -15px;
    }

    .info_blocks > div:last-child{
        width: 90%;
        margin: 0 auto;
    }
    .info_blocks > div:last-child h3{
        font-size: 15px;
    }
    .info_blocks > div:last-child p{
        font-size: 12px;
    }
}

@media (max-width: 370px){
    .info_blocks > div > h4{
        font-size: 12px;
    }
}