* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}  

.main-section{
    background-color: #000000;
    position: relative;
}

.main-section {
    color: #fff;
}

.main-section > div{
    width: 80%;
    margin: 0 auto;
}

.main-section_webinar{
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
}

.main-section_webinar h3:first-child{
    font-weight: 500;
    padding: 5px;;
    background: #FF8A00;
    border: 1px solid #FF8A00;
    border-radius: 15px;
}
.main-section_webinar h3:last-child{
    font-weight: 300;
    padding: 5px;
}

.main-section_question{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-section_question h1{
    font-weight: 700;
    font-size: 55px;
}
.main-section_question h1:last-child{
    color: #FF8A00;
}

.main-section div > div:last-child{
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0 100px;
}

.main-section div > div:last-child h3{
    font-weight: 300;
    font-size: 23px;
    padding-left: 20px;
}

.join-button{
    position: absolute;
    background: #FF8A00;
    color: #fff;
    font-size: 30px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 30px;
    bottom: -10%;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media (max-width: 1000px){
    .logo{
        width: 25%;
    }
    .main-section_question h1{
        font-size: 33px;
    }
    .main-section div > div:last-child h3{
        font-size: 15px;
    }
    .join-button{
        font-size: 20px;
    }
    .main-section_webinar{
        display: flex;
        font-size: 15px;
        text-align: left;
    }
    .main-section div > div:last-child{
        padding: 30px 0 80px;
    }
}

@media (max-width: 500px){
    header{
        padding: 35px 0;
    }
    .logo{
        width: 35%;
    }
    .main-section_webinar{
        font-size: 13px;
        width: 100%;
    }
    .main-section_question h1{
        font-size: 30px;
        text-align: left;
    }
    .main-section div > div:last-child{
        margin: 0;
    }
    .join-button{
        width: 80%;
        padding: 20px;
        bottom: -7%;
    }
}