.offer-icons{
    background: #F3F3F3;
    padding: 150px 0;
}

.offer-icons_inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offer-icons_inner > div{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

.offer-icons_inner > div > img{
    width: 20%;
    margin: 20px 0;
}

.offer-icons_inner > div > h3{
    color: #cfcfcf;
    font-size: 30px;
    font-weight: 300;
    width: 70%;
}

.offer-icons_inner > div > h4{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 1000px){
    .offer-icons_inner > div > h4{
        font-size: 25px;
    }
}

@media (max-width: 900px){
    .offer-icons_inner > div > h3{
        font-size: 25px;
        width: 55%;
    }
    .offer-icons_inner > div > h4{
        font-size: 18px;
    }
    .offer-icons_inner > div > img{
        width: 30%;
    }
}

@media (max-width: 500px){
    .offer-icons{
        padding: 50px 0;
    }

    .offer-icons_inner{
        width: 95%;
    }
    .offer-icons_inner > div > h3{
        font-size: 16px;
    }
    .offer-icons_inner > div > h4{
        font-size: 14px;
    } 
}