.speaker{
    background: url('../../images/speaker-backgrnd.svg') no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.speaker > div > img{
    margin: 60px 0;
    width: 90%;
}

.speaker_content{
    width: 70%;
    margin: 0 auto;
}

.speaker_content > p{
    width: 70%;
    margin: 15px auto;
    font-weight: 300;
    font-size: 25px;
}

@media (max-width: 800px){
    .speaker_content{
        width: 90%;
    }
}

@media (max-width: 500px){
    .speaker > div > img{
        width: 80%;
    }

    .speaker_content > p{
        width: 90%;
        font-weight: 300;
        font-size: 15px;
    }
}