.tg-info{
    background: url('../../images/telegr-backgrnd.svg') no-repeat;
    background-size: contain;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tg-info_pulse{
    width: 100%;
    margin: 250px auto;
}

.tg-info_pulse > a{
    width: 10%;
    margin: 0 auto;
    display: flex;
}

.tg-info_pulse > a > img{
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(201, 201, 201, 0.7);
    }
   
    100% {
      box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.tg-info_text{
    text-align: center;
    margin: 40px auto;
}
.tg-info_text > h3{
    font-weight: 500;
    font-size: 40px;
}
.tg-info_text > p{
    font-weight: 300;
    font-size: 33px;
}

@media (min-width: 1450px){
    .tg-info{
        height: 100vh;
    }
}


@media (max-width: 1300px){
    .tg-info_pulse{
        margin: 285px auto;
    }
}

@media (max-width: 1200px){
    .tg-info_pulse{
        margin: 205px auto;
    }
}

@media (max-width: 1100px){
    .tg-info_pulse{
        margin: 190px auto;
    }
    .tg-info_text > h3{
        font-size: 25px;
    }
    .tg-info_text > p{
        font-size: 25px;
    }
}

@media (max-width: 1000px){
    .tg-info_pulse{
        margin: 170px auto;
    }  
}

@media (max-width: 900px){
    .tg-info_pulse{
        margin: 200px auto;
    }
    .tg-info_text{
        margin: 20px auto;
    }  
    .tg-info_text > h3{
        font-size: 20px;
    }
    .tg-info_text > p{
        font-size: 20px;
    }
}

@media (max-width: 800px){
    .tg-info_pulse{
        margin: 150px auto;
    }  
}

@media (max-width: 700px){
    .tg-info_pulse{
        margin: 100px auto;
    }  
}

/* @media (max-width: 600px){
    .tg-info_pulse{
        margin: 75px auto;
    }  
} */

@media (max-width: 500px){
    .tg-info_pulse{
        margin: 80px auto;
    }  
    .tg-info_pulse > a{
        width: 20%;
    }
}

@media (max-width: 450px){
    .tg-info_pulse{
        margin: 95px auto 30px;
    }  
}

